# Python
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Virtual environments
.env/

# IDEs
.vscode/

# OS
.DS_Store

# Claude
.claude/
CLAUDE.md

# Project specific directories
data/
# figures/
# output/
tutorials/
notebooks/examples/
notebooks/archived/
xenium_5001.txt
figures/plasma_cell_for_eric/*